body{
  padding: 0px;
  margin: 0px;
}
.actionbar {
  display: flex;
  height: 60px;
  align-items: stretch;
  margin: 7px;
}
#profilepic{
  height: 60px;
  width: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#ti{
  padding-bottom: 15px;
  height: 50px;
  text-align: center;
  width: 100%;
}
.pic{
  height: 60px;
  width: 60px;;
}
.title{
  text-align: center;
  height: 60px;
  width: 100%;
  color: #5cdb95;
}
.fa-instagram{
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  color: red;
  padding: 1px;
  align-self: center;
}
.instadiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.same{
  display: flex;
  align-items: center;
  background-color: #5cbd85;
  padding-left: 15px;
  margin: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#count{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  height: 30px;
  width: 30px;
}
#text1{
  color: white;
  margin-right: 5px;
}
.base{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #5cbd85;
  height: 1000px;
  padding-top: 15px;
}
#description{
  color: #8ee4af;
  margin-left: 5px;
}
#insta{
  font-size: 60px;
}
.list{
  display: flex;
  background-color: #8ee4af;
  height: 100px;
  width: 95%;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  
}
.list-img{
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.list-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #379583;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  margin-right:20px;
  
}
.list-title{
}
.list-texts-div{
  margin-top: auto;
  margin-bottom: auto;
}

  
